
html{
  background-color: linen;
  height: 100%;

}

@keyframes growAnimation {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }

#logo{
  margin-left:50%;
  margin-right: 50%;
  margin-top: 30px;
}

.navigationMenu{
  display: flex;
  flex-grow: 1;
 background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(69,69,69,0.4418150436046512) 0%);
  justify-content: space-evenly;
  align-items:center;

  
}


header a {
  color: white;
  margin-left:5%;
}



header a:hover{
  color: LightGray;
}


a:link{
  text-decoration: none;
}



header a {
  color: white;
  margin-left:5%;
}

 .navigationMenu a:hover{
  color: LightGray;
}

#flexBody{
  display: flex;
  flex-direction: column;

  
  
}





h1{
  margin: 5%;

}

.buffetDesc{
  display:block;
  margin-top: -4%;
  margin-left: 5%;
  color: dimgrey;
  font-style: italic; 
  width:60%;
}

.buffetItem{
  margin-left: 7%;
  margin-bottom:2%;
  width: 75%;
}

div.buffetItem:hover{
  background-color: AntiqueWhite;
   animation: growAnimation 1s 1 normal forwards;
 }

div.buffetItem text{
  color: dimgrey;
  font-style: italic; 
  margin-left: 2%
}


#titolo{
  display: flex;
  align-items: center;
}

#titolo text{
  font-size: 80%;
  margin-top: 0.3%;
  margin-left: 1%
}

form{
 margin-left: 66%;
  margin-bottom: 0%;
  margin-top: -2%;
  margin-right: 4%;
}
input{
  height: 20px;
  width: 200px;
  box-sizing: border-box;
  border: 2px inset tan;
  background-color: antiquewhite;
}

button{
  background-color: antiqueWhite;
  border-color: tan;
}

form text{
  font-size: 14px;

}

#elementoLista{
  display: flex;
  align-items: center
  
}


div.buffetItem a:link{
  color: black;
  text-decoration: none;
}

div.buffetItem a:visited{
  color: black;
  text-decoration: none;
}

.menuLink{
  display: block;
  width: 100%;
}

#azioni{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  
}

div#azioni button{
  width: 200%;
  font-size: 12px
}


h6{
  font-size: 85%;
  margin-top: 2%;
  margin-right: 5%;
  background-color: AntiqueWhite
}


footer a:link{
  color:black;
  text-decoration: none;
}

footer a:hover{
  color: LightGray;
}

footer{
  display:flex;
  
  height:150px;
  background-color: tan;
 margin-left:-10px;
  margin-right:-10px;
  margin-top: 100%;

  
}

#footerFlex{
  display:flex;
   color: black;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  margin-left:  42%
   
   
  
}


